@import '../../styles/lib';

.footer {
  position: relative;
  z-index: 1;
  color: $dark-grey;
  padding: 0 2rem 1rem;
  margin-top: auto;

  @media screen and (min-width: $sm) {
    min-width: 760px;
    margin: auto auto 0;
  }

  @media screen and (min-width: $md) {
    min-width: 820px;
  }

  a {
    @include link-dark;
  }
}

.lightFooter {
  composes: footer;
  color: $off-white;

  a {
    @include link-light;
  }
}
