// Breakpoints
$sm: 860px;
$md: 1024px;
$lg: 1440px;
$xl: 1920px;
$max-width-sm: 760px;
$max-width-md: 820px;

// Colours
$off-white: #f2f1ef;
$dark-grey: #1d1d1d;
$mid-grey: #464646;
$light-grey: #c0c0c0;

// Font
@mixin h1 {
  font-size: 1.5rem;
  @media screen and (min-width: $md) {
    font-size: 2rem;
  }
}

@mixin h2 {
  font-size: 4rem;
  font-weight: normal;
}

@mixin h3 {
}

@mixin h4 {
}

@mixin body {
  font-size: 1.1rem;
  line-height: 1.3;
}

@mixin nav {
  font-size: 1.5rem;
  @media screen and (min-width: $sm) {
    font-size: 1.25rem;
  }
}

@mixin scroll-lock {
  &.scroll-lock {
    overflow: hidden;
    @media screen and (min-width: $sm) {
      overflow: visible;
    }
  }
}

@mixin link-dark {
  color: $dark-grey;
  border-bottom: 1px solid $dark-grey;
  padding-bottom: 2px;
  transition: all 0.1s;
  &:hover {
    color: black;
    text-shadow: 0.3px 0.3px 0.3px rgba(black, 0.5);
    border-bottom: 2px solid black;
  }
}

@mixin link-light {
  color: $off-white;
  border-bottom: 1px solid $off-white;
  padding-bottom: 2px;
  transition: all 0.1s;
  &:hover {
    color: white;
    text-shadow: 0.5px 0.5px 0.5px rgba(white, 0.7);
    border-bottom: 2px solid white;
  }
}
